@import '_vars';
@import 'modules/_header';
@import 'modules/_about_me';
@import 'modules/_portfolio';
@import 'modules/_contact';
@import 'modules/_footer';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inehrit from Body */
}

.hidden {
  display: none;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
}

.container {
  width: 1400px;
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.quote {
  background-color: #efefef;
  border-radius: 8px;
  margin-bottom: $margin;
  padding: 3rem;
  position:relative;

  .quote-text {
    @include quote;
    text-align: center;
  }

  .quotes {
    font-family: 'Catamaran', sans-serif;
    color: $orange;
    font-size: 7rem;
    position: absolute;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      bottom: 0;
      right: 260px;
    }
  }

  .author {
    font-size: 1.5rem;
    display:block;
    margin-top: 1rem;
    color: grey;
    text-transform: uppercase;
  }
}

#video {
  padding-left: 5rem;
  padding-right: 5rem;

  h3 {
    @include title;
    margin-bottom: 2rem;
  }

  video {
    width: 50%;
    margin-left: 23%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}