<header>
  <img src="/images/logo_white.svg" alt="logo" id="logo">
  <h2 class="hidden">Nav Header</h2>
  <nav id="main-nav">
    <h2 class="hidden">Main Navigation</h2>
    <div id="menuToggle">
      <input type="checkbox" /> <span class="hamburger line1"></span>
      <span class="hamburger line2"></span>
      <ul id="menu">
        <li>
          <a id="about" class="nav-btn" href="#about-us">About Me</a>
        </li>
        <li>
          <a id="team" class="nav-btn" href="#meet-team">Portfolio</a>
        </li>
        <li>
          <a id="contact" class="nav-btn" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis porttitor orci, et maximus felis commodo
      nec. Donec quis condimentum quam, ut efficitur lectus. Ut tempus maximus aliquet. Curabitur maximus purus ac risus
      varius, ut laoreet ex mollis. Donec hendrerit mollis posuere. Nullam sit amet urna eget nisl dictum varius
      convallis eget purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>
</header>
<section id="about-me">
  <h3>Once upon a time...</h3>
  <div class="about-me-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis porttitor orci, et maximus felis commodo
      nec. Donec quis condimentum quam, ut efficitur lectus. Ut tempus maximus aliquet. Curabitur maximus purus ac risus
      varius, ut laoreet ex mollis. Donec hendrerit mollis posuere. Nullam sit amet urna eget nisl dictum varius
      convallis eget purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>
  <div class="icons">
    <i class="fas fa-globe-americas fa-7x"></i>
    <i class="fas fa-microphone fa-7x"></i>
    <i class="fas fa-newspaper fa-7x"></i>
    <i class="fas fa-tv fa-7x"></i>
    <i class="fas fa-user-graduate fa-7x"></i>
    <i class="fas fa-wine-glass-alt fa-7x"></i>
  </div>
  <div class="quote">
    <p class="quote-text">
    <span class="quotes">&ldquo;</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <span class="quotes">&rdquo;</span>
    </p>
  </div>
</section>
<section id="portfolio">
  <div class="portfolio-header">
    <h3>Portfolio</h3>
    <div class="portfolio-header-txt">
      <p>My job require constant attention with deadlines and quality control of production. 
        During my graduation in Interactive Media Design, I worked in many awesome assignments,
         I choose some of them to share below. 
      </p>
    </div>
  </div>
  <div class="content">
    <div class="projects">
    </div>
    <div class="quote">
      <p class="quote-text">
      <span class="quotes">&ldquo;</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <span class="quotes">&rdquo;</span>
      </p>
    </div>
  </div>
</section>
<section id="contact">
  <h3>Give me a shout <i class="fas fa-bullhorn"></i></h3>
</section>
<footer>
  <img src="/images/logo_white.svg" alt="logo" id="logo">
  <p>&copy; Renata Cunha</p>
</footer>