#about-me {
    padding: $margin;

    h3 {
        @include title;
        margin-bottom: 2rem;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: $margin + 6rem;
    }

    .about-me-text {

        p {
            @include text;
            margin-bottom: $margin;

            @media only screen and (max-width: 1024px) {
                font-size: 1.5rem;
            }
        }
    }
    
}