#portfolio {
    .portfolio-header {
        height: 580px;
        background-image: url('../images/contact_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .content {
        padding: 5rem;
    }

    h3 {
        @include title;
        font-size: 8rem;
        margin-bottom: 2rem;
        text-align: center;
        color: $white;
    }

    .portfolio-header-txt {
        @include text;
        text-align: center;
        padding-top: 31px;
        font-size:3rem;
        padding-left: 500px;
        width: 418px;
        color: $white;
        text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.71);
    }
}