#portfolio {
    .portfolio-header {
        height: 580px;
        background-image: url('../images/contact_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media only screen and (min-width: 1030px)  {
            height: none;
            background-image: url('../images/contact_bg@2x.jpg');
          }
    }

    .content {
        padding: 5rem;
    }

    h3 {
        @include title;
        font-size: 8rem;
        margin-bottom: 2rem;
        text-align: center;
        color: $white;
    }

    .portfolio-header-txt {
        @include text;
        text-align: center;
        padding-top: 31px;
        font-size:3rem;
        padding-left: 500px;
        width: 418px;
        color: $white;
        text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.71);

        @media only screen and (min-width: 1030px)  {
           padding-left: 870px;
           font-size: 2.5rem;
        }
    }

    .projects {
        padding: 5rem;
        display: flex;
        align-items: baseline;
        margin-top: $margin;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        @media only screen and (min-width: 1030px) {
        }

        .project {
            background-color: #efefef;
            border-radius: 8px;
            max-width: 400px;
            padding: 3rem;
            margin-bottom: 5rem;
            transition: all 0.4s ease;

            &:hover, &:active {
                background-color: darken(#efefef, 5%);
                -webkit-box-shadow: 2px 2px 26px -1px rgba(0,0,0,0.29);
                -moz-box-shadow: 2px 2px 26px -1px rgba(0,0,0,0.29);
                box-shadow: 2px 2px 26px -1px rgba(0,0,0,0.29);
            }


            h2 {
                text-align: center;
                @include title;
                line-height: 1.2;
            }

            .img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                float: left;
                overflow: hidden;
                margin-top: 1rem;
                margin-right: 2rem;

                img {
                    width: 100%;
                }
            }
            .text {
                @include text;
                font-size: 1.5rem;
                margin-top: 1rem;
                float: right;
                width: 200px;
            }
        }
    }
    .lightbox {
        display: none;
        // opacity: 0;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.85);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        overflow-y: scroll;

        i {
            position: absolute;
            right:10%;
            top: 5%;
            cursor: pointer;
        }

        .lightbox-content {
            padding: 5rem;
        }

        .lightbox-img, .lightbox-title {
            margin-bottom: 3rem;
        }

        .lightbox-title, .lightbox-text, i {
            color: $white;
            
        }
        .lightbox-text {
            @include text;
            padding: 2rem;
        }
    }
    .show-lightbox {
        display: block;
        // opacity: 1;
    }
}