#portfolio {
    .portfolio-header {
        height: 580px;
        background-image: url('../images/contact_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media only screen and (min-width: 1030px)  {
            height: none;
            background-image: url('../images/contact_bg@2x.jpg');
          }
    }

    .content {
        padding: 5rem;
    }

    h3 {
        @include title;
        font-size: 8rem;
        margin-bottom: 2rem;
        text-align: center;
        color: $white;
    }

    .portfolio-header-txt {
        @include text;
        text-align: center;
        padding-top: 31px;
        font-size:3rem;
        padding-left: 500px;
        width: 418px;
        color: $white;
        text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.71);

        @media only screen and (min-width: 1030px)  {
           padding-left: 870px;
           font-size: 2.5rem;
        }
    }
}